<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Mi Evento | Login</title>
	<meta name="description" content="">
	<meta name="baseurl" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="cleartype" content="on">
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="stylesheet" href="{site_url}template/style-header-admin.css" type="text/css" media="all">
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Advent+Pro:500|Asap:400' rel='stylesheet' type='text/css'>
	<script src="{site_url}template/js/jquery.js"></script>
</head>

<body>
	<header class="header login-color">
		<div class="center-header">
			<h1 class="logo">Filmstrip-club</h1>
		</div>

	</header>
	<div class="container clearfix">